<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List</title>
    <th:block th:replace="frag::headForAll">
    </th:block>
    <th:block th:replace="frag::cssPage">
    </th:block>
</head>
<body id="page-top">

<div id="wrapper">
    <th:block th:insert="frag::side-menu">
    </th:block>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Writing</h1>
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered"
                                   id="writingList">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Category</th>
                                        <th>Time</th>
                                        <th><input type="text" onchange=""></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Title</th>
                                        <th>Category</th>
                                        <th>Time</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="frag::script">
</th:block>
<th:block th:replace="frag::scriptPage">
</th:block>
<script th:src="@{/js/jpa/writing.js}"></script>
</body>
</html>

