<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
<h1 th:text="#{edit.title}"></h1>
<p>
    <a href="/customers" th:text="#{edit.link}"></a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td th:text="#{edit.firstName}"></td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td th:text="#{edit.lastName}"></td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>
</form>
</form>
</body>
</html>