<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create New Blog</title>
</head>
<body>
<h1 class="title">Create New Blog</h1>
<p><a href="/userlist">Back to list blog</a> </p>
<th:block th:if="${message}">
    <p th:text="${message}">
</th:block>

<form th:action="@{/adminsave-blog}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>Author: </td>
            <td><input type="text" th:field="*{people}"></td>
        </tr>
        <tr>
            <td>Title: </td>
            <td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
            <td>Summary: </td>
            <td><input type="text" th:field="*{summary}"></td>
        </tr>
        <tr>
            <td>Content: </td>
            <td><input type="text" th:field="*{content}"></td>
        </tr>
        <tr>
            <td>Date create: </td>
            <td><input type="text" th:field="*{date}"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>