<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/dashboard.css}" />
    <script th:src="@{js/jquery-3.5.0.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Furama</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="users"></span>
                            Services <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart"></span>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            Integrations
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h2 class="mb-3">Add service</h2>
            <form class="needs-validation" novalidate="" th:action="@{/add_serviceF}" method="post" th:object="${serviceF}">
                <div class=" mb-3">
                    <label for="serviceFName">Service name</label>
                    <input type="text" class="form-control" id="serviceFName" th:field="*{serviceName}" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                        Valid service name is required.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="area">Area</label>
                    <input type="text" class="form-control" id="area" th:field="*{area}" required="">
                    <div class="invalid-feedback" style="width: 100%;">
                        Area is required.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="rentCost">Rent cost</label>
                    <input type="text" class="form-control" id="rentCost" th:field="*{rentCost}" placeholder="123456789" required="" >
                    <p th:if="${#fields.hasErrors('rentCost')}" th:errors="*{rentCost}" class="text-danger"></p>
                    <div class="invalid-feedback">
                        Please enter your Rent cost
                    </div>
                </div>

                <div class="mb-3">
                    <label for="numberOfPeople">Number of people</label>
                    <input type="text" class="form-control" id="numberOfPeople" th:field="*{numberOfPeople}" placeholder="099912345678" required="">
                    <p th:if="${#fields.hasErrors('numberOfPeople')}" th:errors="*{numberOfPeople}" class="text-danger"></p>
                    <div class="invalid-feedback">
                        Please enter Number of people
                    </div>
                </div>

                <div class=" mb-3">
                    <label for="typeOfServiceF">Type of service</label>
                    <select class="custom-select d-block w-100" id="typeOfServiceF" th:field="*{typeOfServiceF}" required="">
                        <option value="">Choose...</option>
                        <option th:each="t : ${typeOfServiceFList}"
                                th:value="${t.getTypeOfServiceFId()}"
                                th:text="${t.getTypeOfServiceFName()}"></option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid type of serviceF.
                    </div>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Add new service</button>
            </form>
        </main>
    </div>
</div>

</body>
</html>